In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score, roc_curve
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("loan_approval_dataset Data.csv")
data.head()

,loan_id,Familt members,education,Turnover,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,96000000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,2,0,0,41000000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,1,91000000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,4,3,1,82000000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,5,0,98000000,24200000,20,382,12400000,8200000,29400000,5000000,0

In [3]:
data.columns = [col.strip() for col in data.columns]

In [5]:
numeric_columns = ['Turnover', 'loan_amount', 'residential_assets_value', 'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value']
for column in numeric_columns:
    data[column] = data[column].astype(str).str.replace(',', '').astype(float)

In [6]:
assert set(data['education']) == {0, 1}
assert set(data['loan_status']) == {0, 1}

In [7]:
from sklearn.model_selection import train_test_split

X = data.drop(['loan_id', 'loan_status'], axis=1)
y = data['loan_status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, classification_report

model = RandomForestClassifier(random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]

accuracy = accuracy_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred_proba)

accuracy_percentage = accuracy * 100

print(f'Accuracy: {accuracy_percentage:.2f}%')
print(f'ROC AUC: {roc_auc:.2f}')
print(classification_report(y_test, y_pred))

Accuracy: 98.24%
ROC AUC: 1.00
              precision    recall  f1-score   support

           0       0.99      0.97      0.98       318
           1       0.98      0.99      0.99       536

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854